.pulse{
    @apply relative bg-DarkPrimary w-[3.75rem] h-[3.75rem] rounded-full;
}
.round{
    @apply absolute bg-inherit w-full h-full rounded-[100%] opacity-[0.8];
    animation: pulsing 4s ease-in-out infinite;
}
.round:nth-of-type(1){
    animation-delay: -1s;
}
.round:nth-of-type(2){
    animation-delay: -2s;
}
.round:nth-of-type(3){
    animation-delay: -3s;
}

@keyframes pulsing{
    100% {
        transform: scale(6);
        opacity: 0;
    }
}


.pulsebig{
    @apply relative bg-[#CBEFFF] w-[244px] h-[249px] rounded-full;
}
.circal{
    @apply absolute bg-inherit w-full h-full rounded-[100%] opacity-[0.8];
    animation: pulsing 4s ease-in-out infinite;
}
.circal:nth-of-type(1){
    animation-delay: -1s;
}
.circal:nth-of-type(2){
    animation-delay: -2s;
}
.circal:nth-of-type(3){
    animation-delay: -3s;
}

@keyframes pulsing{
    100% {
        transform: scale(6);
        opacity: 0;
    }
}


.toggle-wrapper {
    @apply relative w-[11.25rem] h-[10.8125rem] mx-auto my-[30px];
}
.toggle {
    @apply hidden;
}
.foux-toggle {
    @apply relative w-[11.25rem] h-[2.8125rem] bg-[#ddd] m-0 rounded-[30px];    
}
.foux-toggle:before {
    @apply content-[""] absolute block w-[5.625rem] h-[2.8125rem] bg-primary z-[3] rounded-tl-[30px] rounded-tr-none rounded-br-none rounded-bl-[30px] left-0 top-0;
}
.toggle:checked ~ .foux-toggle:before {
    @apply rounded-tl-none rounded-tr-[30px] rounded-br-[30px] rounded-bl-none border-primary left-[5.625rem];    
}
.toggle--label:after, .toggle--label:before {
    @apply absolute transition-opacity duration-[0.05s] inset-y-0;
}
.toggle--label {
    @apply absolute text-center leading-[2.8125rem] cursor-pointer z-[12] tracking-[0.0625rem] font-normal text-sm inset-0;
}
.toggle--label:before {
    @apply content-["Monthley"] -translate-x-2/4 text-[white] opacity-100 left-1/4;
}
.toggle--label:after {
    @apply content-["Annually"] absolute -translate-x-2/4 text-[white] opacity-100 left-3/4 right-0;
}
.toggle:checked + .toggle--label:after {
    @apply duration-[0.05s]
}

