/* Pulse Ragular */
.pulse{
    @apply relative bg-DarkPrimary w-[8.125rem] h-[8.125rem] rounded-full;
}
.round{
    @apply absolute bg-inherit w-full h-full rounded-[100%] opacity-[0.8];
    animation: pulsing 4s ease-in-out infinite;
}
.round:nth-of-type(1){
    animation-delay: -1s;
}
.round:nth-of-type(2){
    animation-delay: -2s;
}
.round:nth-of-type(3){
    animation-delay: -3s;
}

@keyframes pulsing{
    100% {
        transform: scale(12);
        opacity: 0;
    }
}

/* Pulse Small */
.pulse_small{
  @apply relative bg-DarkPrimary w-[3.75rem] h-[3.75rem] rounded-full;
}
.circal_small{
  @apply absolute bg-inherit w-full h-full rounded-[100%] opacity-[0.8];
  animation: pulsing 4s ease-in-out infinite;
}
.circal_small:nth-of-type(1){
  animation-delay: -1s;
}
.roucircal_smallnd:nth-of-type(2){
  animation-delay: -2s;
}
.circal_small:nth-of-type(3){
  animation-delay: -3s;
}

@keyframes pulsing{
  100% {
      transform: scale(5);
      opacity: 0;
  }
}

/* Pulse Big */
.pulsebig{
    @apply relative bg-[#CBEFFF] w-[9.375rem] h-[9.375rem] rounded-full;
}
.circal{
    @apply absolute bg-inherit w-full h-full rounded-[100%] opacity-[0.8];
    animation: pulsing 4s ease-in-out infinite;
}
.circal:nth-of-type(1){
    animation-delay: -1s;
}
.circal:nth-of-type(2){
    animation-delay: -2s;
}
.circal:nth-of-type(3){
    animation-delay: -3s;
}

@keyframes pulsing{
    100% {
        transform: scale(4);
        opacity: 0;
    }
}

  /* Toggle Switch */
 .switches-container {
    @apply w-[16rem] relative flex p-0 border border-solid border-stroke leading-[3rem] rounded-full;
  }
  .switches-container input {
    @apply invisible absolute top-0;
  }
  .switches-container label {
    @apply w-1/2 p-0 m-0 text-center cursor-pointer text-DeepOcean;
  }
  .switch-wrapper {
    @apply absolute top-0 bottom-0 w-1/2 p-[0.25rem];
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  .switch {
    @apply rounded-[3rem] bg-primary h-full;
  }
  .switch div {
    @apply w-full text-center opacity-0 block text-white absolute top-0 left-0;
    transition: opacity 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s;
    will-change: opacity;
  }
  .switches-container input:nth-of-type(1):checked ~ .switch-wrapper {
    @apply translate-x-0;
  }
  /* slide the switch box from left to right */
  .switches-container input:nth-of-type(2):checked ~ .switch-wrapper {
    @apply translate-x-full;
  }
  /* toggle the switch box labels - first checkbox:checked - show first switch div */
  .switches-container
    input:nth-of-type(1):checked
    ~ .switch-wrapper
    .switch
    div:nth-of-type(1) {
    @apply opacity-100;
  }
  /* toggle the switch box labels - second checkbox:checked - show second switch div */
  .switches-container
    input:nth-of-type(2):checked
    ~ .switch-wrapper
    .switch
    div:nth-of-type(2) {
      @apply opacity-100;
  }
  
  /* Search Bar */
  input#search-bar {
    @apply my-0 mx-auto w-full h-[2.8125rem] text-base border-b border-solid border-primary outline-0 rounded-none bg-transparent;
  }
  input#search-bar:focus {
    @apply border-b border-solid border-midnight_text text-midnight_text transition-[0.35s] ease-[ease];
  }
  input#search-bar:focus::-webkit-input-placeholder {
    @apply transition-opacity duration-[0.45s] ease-[ease] opacity-0;
  }